
.header{
    padding: 9px 20px;
    border: 1px solid lightgray;
    /* height: 13vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
}

.header__logo{
    /* border: 1px solid blue; */
    height: 4vh;
   margin-top: 7px;
}
.header__logo:hover{
    cursor: pointer;
}
.header__middle{
     /* border: 1px solid green; */
     margin: 0 227px;
}
.header__right{
    /* border: 1px solid green; */
    display: contents;
}

.header__menuOption{
    /* border: 1px solid blueviolet; */
    margin: 6px;
}
.header__menuOption:hover{
    cursor: pointer;
}
.avatarImg{
    height:2px;
}