.header{
    padding: 9px 20px;
    border-bottom: 1px solid lightgray;
    height: 4vh;
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
}
.header__left{
    text-align: center;
    margin-left: 21%;
    margin-top: 5px;
}
.header__left > img {
    height: 4vh;
}
.header__left > img:hover{
    cursor: pointer;
}
.header__middle {
    margin-left: 13%;
    margin-top: 5px;
}
.header__middle > input{
    border: 1px solid lightgray;
    border-radius: 4px;
    text-align: center;
    height: 2.5vh;
    outline: none   ;
}
.header__right{
    display: flex;
    margin-inline-start: auto;
    margin-left: 17%;
    margin-top: 5px;
}
.header__menuOption:hover{
    cursor: pointer;
}
