
.sidebarRow__top{
    display: flex;
    align-items: center;
    height: 10vh;
    
    
}
.sidebarRow__top > h4 {
    margin-left: 133px;
    font-size: medium;
    color: rgb(119, 184, 209);
}
.sidebarRow__top>h4:hover{
    cursor: pointer;
}
.avatar:hover {
    cursor: pointer;
}
.sidebarRow__name{
    margin: 0 12px;
}
.sidebarRow__name > h3{
    display: flex;
    justify-content: center;
}
.sidebarRow__name>h3:hover{
    cursor: pointer;
}
.sidebarRow__name > p{
     color: gray;
}
.sidebarRow__mid{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
.sidebarRow__mid > h3{
    /* color: lightgray; */
    color: rgba(var(--f52,142,142,142),1);
    font-size: inherit;
}
.sidebarRow__mid > p{
    font-weight: bold;
    font-size: 16px;
}
.sidebarRow__mid>p:hover{
    cursor: pointer;
}